
@{
    ViewBag.Title = "XacNhanDonHang";
    Layout = "~/Views/Shared/LayoutPhuKienDTh.cshtml";
}

@{
    ViewBag.Title = "Xác Nhận Đơn Hàng";
}

<h2>Xác Nhận Đơn Hàng</h2>

<div style="text-align:center; margin-top:20px;">
    <p>Cảm ơn bạn đã đặt hàng!</p>
    <p>Đơn hàng của bạn đã được ghi nhận và sẽ được xử lý sớm nhất.</p>
    <p>
        <a href="@Url.Action("Index", "Home")" class="btn btn-primary">Quay về trang chủ</a>
    </p>
</div>


